
<div class="container-fluid mt-5">
  <div class="row justify-content-around">
    <div class=" col-3 show-image p-5">
      <% if @cocktail.photo.file %>
      <%= cl_image_tag(@cocktail.photo, class: "card-show", size: "300x400")%>
      <% elsif @cocktail.image_url == nil %>
      <%= image_tag("https://res.cloudinary.com/bogdanm/image/upload/v1579273136/empty.jpg", class: "card-show")%>
      <% else %>
      <%= image_tag(@cocktail.image_url, class: "card-show", size: "300x400")%>
      <% end %>
    </div>
    <div class="col-3 p-4 show-cocktail">
      <div class="text-center show-cocktail-name">
        <h2><%= @cocktail.name %></h2>
      </div>
      <div class="text-center ingredient-container">
        <% if @cocktail.doses == [] %>
          <p> No ingredients added </p>
        <% else %>
          <% @cocktail.doses.each do |dose|%>
          <p> <%= dose.ingredient.name %> - <%= dose.description %> <%= link_to ('<i class="far fa-minus-square"></i>').html_safe, cocktail_dose_path(dose), method: :delete %></p>
          <% end %>
        <% end %>
      </div>
      <div class="align-bottom text-center">
        <%= link_to ('<i class="far fa-trash-alt"></i> Throw cocktail').html_safe, cocktail_path(@cocktail), method: :delete, class: "btn btn-primary" %>
        <%= link_to ('<i class="far fa-plus-square"></i> Add dose').html_safe, new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
